# ===============================
# MYSQL
# ===============================
MYSQL_DATABASE=novarecruit_db
MYSQL_USER=novarecruit_user
MYSQL_PASSWORD=CambiaEstaClave123
MYSQL_ROOT_PASSWORD=CambiaRoot123

# ===============================
# BACKEND DATABASE
# ===============================
DB_HOST=mysql
DB_PORT=3306
DB_NAME=novarecruit_db
DB_USER=novarecruit_user
DB_PASSWORD=CambiaEstaClave123

# ===============================
# JWT
# IMPORTANTE:
# Debe ser BASE64 porque JwtService usa Decoders.BASE64.decode()
# ===============================
JWT_SECRET=uRz7F7Fq4H9d9ixOqf4P3UVAEg6b4OiQS85LSgZXy/ao=
JWT_EXPIRATION_MS=86400000

# ===============================
# MAIL
# ===============================
MAIL_USERNAME=tu_correo_demo@gmail.com
MAIL_PASSWORD=tu_password_de_aplicacion
APP_MAIL_ENABLED=true

# ===============================
# FRONTEND / AZURE
# ===============================
FRONTEND_URL=http://57.156.65.62